@model ClinicWebApplication.DoctorSpeciality

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

Ви впевнені, що ви хочете це видалити?
<div>
    <h4>Спеціальність лікаря</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete" asp-route-dsid="@ViewBag.Id"asp-route-name="@ViewBag.Name"asp-route-from="@ViewBag.From">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-dsid="@ViewBag.Id"asp-route-name="@ViewBag.Name"asp-route-from="@ViewBag.From">До списку</a>
    </form>
</div>
