@model ClinicWebApplication.DoctorSpeciality

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагувати</h1>

<h4>Спеціальність лікаря</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-dsid="@ViewBag.Id" asp-route-name="@ViewBag.Name" asp-route-from ="@ViewBag.From">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if (ViewBag.From != "doc")
            {
                <div class="form-group">
                    <label asp-for="Doctor.Name" class="control-label"></label>
                    <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                    <span asp-validation-for="DoctorId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" value="@ViewBag.Id" name="DoctorId" />
            }
            @if (ViewBag.From != "spec")
            {
                <div class="form-group">
                    <label asp-for="Speciality.Name" class="control-label"></label>
                    <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId"></select>
                    <span asp-validation-for="SpecialityId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" value="@ViewBag.Id" name="SpecialityId" />
            }
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-dsid="@ViewBag.Id"asp-route-name="@ViewBag.Name"asp-route-from="@ViewBag.From">До списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
