@model ClinicWebApplication.Hospital

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Лікарня</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Адреса
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Місто
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Index" asp-route-id ="@Model.City.Id" asp-route-name="@Model.City.Name">До результатів пошуку</a> |
    <a asp-action="Index">До міст</a>
</div>
